td {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#marketlist .entity {
	cursor: pointer;
}

.entity:hover {
	background-color: rgba(0,0,0,.075);
}

.detail, .buyBtn {
}
.detail {
	font-size: 0.8em;
}
.detail input {
}

.lease_tr {
  cursor: pointer;
}
