{% extends 'base.html.twig' %}

{% block title %}shop{% endblock %}

{% block header %}
        <header class="container">
        <div class="row pt-4 pb-2">
          <div class="col-auto">
            <a class="btn btn-danger" href="{{ path('market') }}" role="button">
            <i class="fas fa-arrow-left"></i> 返回市场 
            </a>
          </div>
          <div class="input-group col">
            <input id="searchInput" type="text" autofocus placeholder="搜索商品编号或名称" autofocus class="form-control">
          </div>
        </div>
        </header>
{% endblock %}
{% block main %}
<main class="container" id="main">
<div class="list-group" id="candidate">
  <a href="#" class="list-group-item list-group-item-action d-none" id="listSample"></a>
</div>
<div class="mt-5"></div>

<div class="d-none justify-content-between align-items-center border-bottom py-2 px-4 rounded entity" id="pushedSample">
<div class="">
</div>
<div class="">
</div>
<div class="">
<input id="searchInput" type="number" placeholder="发布数量" autofocus class="form-control">
</div>
<button type="button" class="btn btn-danger" disabled>
发布
</button>
</div>

</main>
{% endblock %}

{% block js %}
<script src="/js/push.js"></script>
{% endblock %}
