{% extends 'base.html.twig' %}

{% block title %}goods{% endblock %}

{% block body %}
<main class="container">

<div class="input-group pt-4 pb-2">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">label </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
  <input id="search" type="text" autofocus class="form-control" aria-label="Text input with dropdown button">
</div>

<table class="table table-hover table-responsive">
<thead class="thead-light">
<tr>
<!--
<th scope="col">门店ID</th>
<th scope="col">门店名称</th>
<th scope="col">农商行</th>
<th scope="col">友德医</th>
<th scope="col">战区</th>
-->
</tr>
</thead>
<tbody id="tbody">
{% for i in rows %}
<tr class="">
{% for j in i %}
<td contenteditable="true" class="searchable">{{ j }}</td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
</main>
{% endblock %}

{% block javascripts %}
	<script src="/js/pinyin_dict_notone.js"></script>
	<script src="/js/pinyinUtil.js"></script>
	<script src="/js/z.js"></script>
{% endblock %}
