{% extends 'base.html.twig' %}

{% block title %}shop{% endblock %}

{% block header %}
{% endblock %}
{% block main %}
<main class="container mt-5">
  <div class="px-5 rounded entity d-flex flex-column flex-md-row py-3 justify-content-between align-items-center border-bottom">
    <div class="">111111</div>
    <div class="">阿莫西林</div>
    <!--
    <div class="">20190105</div>
    -->
    <div class="sum">55</div>

    <div class="detail d-none align-items-center justify-content-between">
      <div class="w-50">
        <div class="form-row">
          <label for="" class="col-form-label">宝丰一店 15</label>
          <!--
          <span class="col-form-label">
          test
          </span>
          -->
          <input type="number" class="col-4 form-control form-control-sm" placeholder="数量">
        </div>

        <div class="form-row">
          <label for="" class="col-form-label">宝丰一店 15</label>
          <input type="number" class="col-4 form-control form-control-sm" placeholder="数量">
        </div>

        <div class="form-row">
          <label for="" class="col-form-label">宝丰一店 15</label>
          <input type="number" class="col-4 form-control form-control-sm" placeholder="数量">
        </div>

        <div class="form-row">
          <label for="" class="col-form-label">宝丰一店 15</label>
          <input type="number" class="col-4 form-control form-control-sm" placeholder="数量">
        </div>
      </div>

      <div class="buyBtn text-center border-bottom">
        <button type="button" disabled class="btn btn-primary">
          <span class="badge badge-light">0</span>
          clickme
        </button>
      </div>

    </div>
  </div>


</main>
{% endblock %}
